.plan-item {
  padding: 20px;
  .ant-card-body {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .card {
    min-height: 480px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .description {
    flex: 1 1 auto;
  }
  .no-image {
    padding-top: 130px;
  }
  .upgrade {
    width: 100%;
  }
}
