.price-card .card {
  min-height: 480px; }

.price-card .card-body {
  display: flex;
  flex-direction: column; }

.price-card .description {
  flex: 1 1 auto; }

.price-card .no-image {
  padding-top: 130px; }
