.login-google:hover {
  color: #434d78;
  border-color: #434d78;
  .icon {
    height: 15px;
    margin-left: 10px;
  }
}

.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1990ff;
  border: 2px solid #1990ff;
  .icon {
    height: 15px;
    margin-left: 10px;
  }
}
