.add-case {
  .has-error {
    input, select {
      border-color: #ff3547;
      box-shadow: 0 0 0 0.1rem #ff3547;
      color: #595959 !important;
    }
  }
  .has-warning {
    input, select {
      border-color: #f80;
      box-shadow: 0 0 0 0.1rem #f80;
      color: #595959 !important;
    }
  }
  .has-success {
    input, select {
      border-color: #00c851;
      box-shadow: 0 0 0 0.1rem #00c851;
      color: #595959 !important;
    }
  }
  .hidable {
    visibility: visible;
    opacity: 1;
    position: relative;
    transition: all .5s ease-in-out;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0s ease-in-out;
  }
  .ant-form-item-label {
    text-align: left;
  }
  textarea {
    &#description {
      color: #595959 !important;
      padding-top: 8px;
    }
  }
  .error-message {
    background-color: #b51b23;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fffffc;
    position: relative;
    .close {
      position: absolute;
      right: 15px;
      cursor: pointer;
    }
    &.success {
      background-color: #6fa16f;
    }
  }
}

@media (max-width: 575px) {
  .add-button {
    .ant-form-item-control-wrapper {
        width: 0;
    }
  }
}
