.notifications {
  .desc {
    margin-bottom: 20px;
    .amount-of-notifications {
      color: #fff;
      font-weight: 500;
      padding: 2px 5px;
      background-color: #1990ff;
      border-radius: 3px;
    }
    .long-desc {
      color: #40a9ff;
      font-size: 13px;
      margin-top: 10px;
      .email {
        font-weight: bold;
      }
    }
  }
  .emails {
    margin-bottom: 15px;
    .email {
      padding: 5px 10px;
      width: 50%;
      border: 1px solid #c1c1c1;
      border-radius: 3px;
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .delete {
        cursor: pointer;
        color: #f5222d;
      }
    }
  }
  .notifications-form {
    .dynamic-delete-button {
      cursor: pointer;
      position: relative;
      top: 4px;
      font-size: 24px;
      color: #999;
      transition: all .3s;
    }
    .dynamic-delete-button:hover {
      color: #777;
    }
    .dynamic-delete-button[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}