.subcriptions {
  .current-tier {
    font-size: 20px;
    margin-bottom: 30px;
    .limit {
      color: #434d78;
      font-weight: 500;
    }
    .danger {
      color: red;
      font-weight: 500;
    }
  }
  .tiers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .tier {
      margin: 20px 0;      
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      padding: 20px 30px;      
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 5px 15px 0 #c5d1e4;
      .tier-name {
        color: #434d78;
        font-weight: 500;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 10px;
      }
      .tier-price {
        margin: 15px 0;
        .price {
          margin-left: 5px;
          color: #588058;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
  .render-status {
    .status {
      margin-right: 10px;
    }
  }
}