.navbar {
  background-color: #4285F4; }

.top-nav-collapse {
  background-color: #4285F4; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4; } }

.global-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container {
  flex: 1; }

.loading {
  display: flex;
  justify-content: center;
  align-items: center; }

.user-card {
  width: 80%; }
